<!-- reset-password.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <style>
        body {
                font-family: Arial, sans-serif;
                background-color: #f0f0f0;
                text-align: center;
                margin: 50px;
            }

            h1 {
                color: #333;
            }

            form {
                max-width: 300px;
                margin: 0 auto;
                background-color: #fff;
                padding: 20px;
                border-radius: 5px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }

            label {
                display: block;
                margin-bottom: 10px;
                color: #333;
            }

            input {
                width: 100%;
                padding: 8px;
                margin-bottom: 15px;
                box-sizing: border-box;
            }

            button {
                background-color: #007bff;
                color: #fff;
                padding: 10px;
                border: none;
                border-radius: 3px;
                cursor: pointer;
            }

            button:hover {
                background-color: #0056b3;
            }
    </style>
</head>
<body>
    <h1>Reset Password</h1>
    <form action="/reset-password/<%= resetToken %>" method="post">
        <label for="resetpassword">New Password:</label>
        <input type="password" id="resetpassword" name="resetpassword" value="" autocomplete="off" required>
        <button type="submit">Reset Password</button>
    </form>
</body>
</html>
